node_modules
.env
package-lock.json

desktop-application/app
desktop-application/node_modules
desktop-application/renderer/.next
desktop-application/.env
desktop-application/package-lock.json
machine-learning-models/env
machine-learning-models/__pycache__
machine-learning-models/.uploads

desktop-application/renderer/component/chart/data.json
desktop-application/renderer/component/button/seee.json

ElectroMagnetMotion Explorer.lnk