.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url("/bg-amazing.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: -webkit-fill-available;
  align-items: flex-start;
}
