.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: -webkit-fill-available;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.line_chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  gap: 2rem;
}
.about_connection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: -webkit-fill-available;
  color: var(--white-color);
  font-size: var(--ft-500);
}
.about_connection > svg {
  color: var(--primary-color);
  font-size: var(--ft-600);
  margin-right: 1rem;
}
.images_from_ml {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  gap: 1rem;
}
.image_from_ml {
  width: 33%;
  height: 320px;
  border-radius: var(--ft-300);
  background: var(--bg-primary-inside);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_from_ml > img {
  width: 94%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
}
