.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: -webkit-fill-available;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.line_chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  gap: 1rem;
}
.input_area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}
.input_area > input {
  all: unset;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  color: var(--primary-color);
  background-color: var(--bg-primary-inside);
  font-size: 1rem;
  caret-color: var(--primary-color);
  width: 90%;
}
.images_from_ml {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  gap: 1rem;
}
.image_from_ml {
  width: 33%;
  height: 320px;
  border-radius: var(--ft-300);
  background: var(--bg-primary-inside);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_from_ml > img {
  width: 94%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
}
.box > p {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
