.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  gap: 1rem;
  padding: 0.5rem 0.25rem;
}
.header_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.header_left > h1 {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  font-weight: 500;
  font-size: 1.5rem;
}
.header_left > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header_right {
  font-size: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.links > a {
  all: unset;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--light-black-color);
  border: 1px solid var(--black-color);
}
.links > a:hover {
  scale: 1.05;
  color: var(--light-black-color);
  background-color: var(--white-color);
}
.day_night_mode {
  cursor: pointer;
}
