.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/bg-amazing.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: -webkit-fill-available;
  align-items: flex-start;
}
.container_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: 80vh;
  gap: 1rem;
}
.button_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  gap: 1rem;
}
.button_text > button {
  all: unset;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  color: var(--white-color);
  background-color: var(--light-black-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button_text > button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.button_text > p {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  font-size: 1.2rem;
}
.input_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  gap: 1rem;
}
.input_area > h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: var(--white-color);
}
.input_area > input {
  all: unset;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  color: var(--black-color);
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
  caret-color: var(--black-color);
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.buttons > button {
  all: unset;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  color: var(--white-color);
  background-color: var(--black-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.data_coming_from_web_serial {
  font-size: 1rem;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}
.data_coming_from_web_serial > p {
  padding: 0;
  margin: 0;
}

.data_coming_from_web_serial > p > span {
  color: var(--light-black-color);
}
